.item {
  width: 100%;
  max-width: 500px;
  display: inline-flex;
  margin: 10px;
  align-items: flex-start;
  justify-content: center;
}

.accordian {
  width: 100%;
  max-width: 450px;
  background-color: #b53a25 !important;
  color: white !important;
}
