.dayButton {
  display: inline-flex;
  margin: 2px;
}

.scheduleTable {
  font-size: 100%;
  border-radius: 15px;
  border: none !important;
}

@media (max-width: 400px) { 
  .scheduleTable {
    font-size: 68% !important;
  }
}

.currentButton {
  filter: brightness(70%);
}

.filler {
}
