.speaker {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  width: 300px;
  margin: 10px;
}

.holder {
}

.speaker:hover {
  cursor: pointer;
}

.card {
  margin: auto auto;
  min-height: 470px;
}

.profileImage {
  justify-content: center;
  width: 250px;
  height: 250px;
  border-style: solid;
  border-radius: 50%;
  border-width: 4px;
  border-color: #ffffff;
  margin: 10px auto;
}
