.speaker {
    display: inline-block;
    justify-content: center;
    align-content: center;
    width: 300px;
    margin: 10px;
}

.holder {

}

.speaker:hover {
    cursor: pointer;
}

.card {
    margin: auto auto;
}

.profileImage {
    border-radius: 50%;
    margin: 10px;
  }