.sponsorImage {
    width: 230px;
    height: 230px;
    display: inline-flex;
    margin: 20px;
    animation: bounce 1s infinite; 
}

.sponsorImage:hover {
    cursor: pointer;
}

@keyframes bounce {
    0% { }
    50% { transform: translateY(-3px); }
    100% { }
}