.teamMember {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin: 20px;
    text-align: center;
    border-radius: 50%;

}

.teamMember:hover {
    cursor: pointer;
}

.profileImage {
    border-radius: 50%;
    width: 220px;
    margin: 10px auto;
  }